Source: ros-lyrical-picknik-ament-copyright
Section: misc
Priority: optional
Maintainer: Joe Schornak <joseph.schornak@picknik.ai>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-lyrical-ament-flake8 <!nocheck>, ros-lyrical-ament-pep257 <!nocheck>, ros-lyrical-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/picknik_ament_copyright/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-picknik-ament-copyright
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-lyrical-ament-copyright, ros-lyrical-ros-workspace
Description: Check PickNik-specific copyright headers.
