Source: ros-rolling-picknik-ament-copyright
Section: misc
Priority: optional
Maintainer: Joe Schornak <joseph.schornak@picknik.ai>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-rolling-ament-flake8 <!nocheck>, ros-rolling-ament-pep257 <!nocheck>, ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-picknik-ament-copyright
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-rolling-ament-copyright, ros-rolling-ros-workspace
Description: Check PickNik-specific copyright headers.
